@import "buttons.css";
@import "Header.css";

.hotelTable {
  width: 75vw;
  /* margin-left: auto;
  margin-right: auto; */
}

.petTable {
  width: 75vw;
  /* margin-left: auto;
  margin-right: auto; */
}

body {
  background: white;
}

.logo-img {
  max-width: 100%;
  width: 80%;
}

.hr-1 {
  color: #ff8469;
  height: 8px !important;
  margin-left: auto;
  margin-right: auto;
}

.pet_title {
  padding-left: 12%;
}

.hotel_title {
  padding-left: 12%;
}

.navbar-jc {
  width: 100%;
  overflow: hidden;
  padding-bottom: 75px;
  padding-top: 35px;
  padding-left: 15px;
  /* height: 255px; */
}

.font-test {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: 100;
  color: #ff8469;
  text-shadow: 2px 2px #3f44a4;
}

.font-titles {
  font-family: Bubbleboddy Neue, sans-serif;
  /* font-weight: 100; */
  color: #ff8469;
  text-shadow: 1px 1px #3f44a4;
}

.font-table {
  font-family: Montserrat !important;
  font-weight: 100;
  color: #3f44a4;
  text-align: center;
}

.footer-font {
  font-family: Bubbleboddy Light;
}

.hotel_title {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: bolder;
  font-size: 45px;
}

.hotelTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

.petTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

.pet_title {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: bolder;
  font-size: 45px;
}

.temp-icon {
  height: 65px;
}

.resources-button {
  background-color: #ccdbdc;
  font-size: 13.5px;
  margin-left: 25%;
  border: none;
  color: black;
  border-radius: 3%;
  border: 0.1px solid black;
}

.inventory-table-header {
  font-family: Bubbleboddy Neue, sans-serif !important;
  font-weight: bolder !important;
  font-size: 45px !important;
}

#inventoryTable {
  font-family: Montserrat !important;
  font-weight: 300;
}

.resource-dropdown {
  margin-left: 500px;
}

/* td {
  text-align: center;
} */
