.hotelTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.petTable {
  width: 75vw;
}

.login {
  border: 0.5px black solid;
  text-align: left;
  height: 115px;
  padding-top: 15px;
  width: 50vw;
  padding-bottom: 15px;
} */

/* julia testing stying */

body {
  background: white;
}

.logo-img {
  max-width: 75px;
}

.hr-1 {
  color: #FF8469;
  height: 10px !important;
  margin-left: auto;
  margin-right: auto;
}


.pet_title {
  padding-left: 12%;
}

.hotel_title {
  padding-left: 12%;
}

.navbar-jc {
  /* font-family: monospace; */
  /* background: whitesmoke; */
  /* position: fixed; */
  width: 100%;
  overflow: hidden;
}

.font-test {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: 100;
  letter-spacing: .2em;
  color: #FF8469;
  text-shadow: 2px 2px #3F44A4;
}