.hotelTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.petTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.pet_title {
  padding-left: 12%;
}

.hotel_title {
  padding-left: 12%;
}
