@import 'buttons.css';
@import "Header.css";

.hotelTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.petTable {
  width: 75vw;
}
/* .login {
  border: 0.5px black solid;
  text-align: left;
  height: 115px;
  padding-top: 15px;
  width: 50vw;
  padding-bottom: 15px;
} */
*/

body {
  background: white;
}

.logo-img {
  max-width: 100%;
  width: 80%;
}

.hr-1 {
  color: #ff8469;
  height: 8px !important;
  margin-left: auto;
  margin-right: auto;
}

.pet_title {
  padding-left: 12%;
}

.hotel_title {
  padding-left: 12%;
}

.navbar-jc {
  width: 100%;
  overflow: hidden;
  /* height: 255px; */
}

.font-test {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: 100;
  color: #ff8469;
  text-shadow: 2px 2px #3F44A4;
}

.font-titles {
  font-family: Bubbleboddy Neue, sans-serif;
  /* font-weight: 100; */
  color: #ff8469;
  text-shadow: 1px 1px #3F44A4;
}

.font-table {  
  font-family: Montesrrat, sans-serif;
  font-weight: 100;
  color: #3F44A4;
}

.footer-font {
  font-family: Bubbleboddy Light;
}

.hotel_title {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: bolder;
  font-size: 45px;
}

.hotelTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

.petTable {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

.pet_title {
  font-family: Bubbleboddy Neue, sans-serif;
  font-weight: bolder;
  font-size: 45px;
}

.temp-icon {
  height: 65px;
}

.resources-button {
  background-color: #ccdbdc;
  font-size: 13.5px;
  margin-left: 25%;
  border: none;
  color: black;
  border-radius: 3%;
  border: 0.1px solid black;
}

.inventory-table-header {
  font-family: Bubbleboddy Neue, sans-serif !important;
  font-weight: bolder !important;
  font-size: 45px !important;
}

#inventoryTable {
  font-family: Montserrat !important;
  font-weight: 300;
}