.container-img {
    background-image: url(./assets/FLbackground.png);
    background-size: 100%;
    /* height: 75%; */
    margin: -25px 0 0 0;
    background-repeat: no-repeat;
    padding-bottom: 19em;
    background-position: center center;
    overflow: hidden;
    /* background-attachment: fixed; */
}
  
  /*footer is using this*/
  .font-nospace {
    font-family: Bubbleboddy Neue, sans-serif;
    color: #222552;
    padding: 0 0 0 4em;
  }
 
  .font-body {
    font-family: Bubbleboddy Neue, sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: #222552;
    margin-bottom: 5px;
  }

  .font-p {
    font-size: 20px;
  }  